Repository ingogriebsch/bricks, pull requests merged in 2019-03, with the labels that each got.

#32 (Optionally) Redirect to application view if only one is available
  bricks-dashboard/src/main/java/com/github/ingogriebsch/bricks/dashboard/DashboardProperties.java
  bricks-dashboard/src/main/java/com/github/ingogriebsch/bricks/dashboard/web/IndexController.java
  bricks-dashboard/src/main/resources/application.yml
  bricks-dashboard/src/test/java/com/github/ingogriebsch/bricks/dashboard/web/IndexControllerTest.java
Labels: enhancement

#31 Remove boilerplate code from model
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Administration.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Application.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/BuildTool.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Communication.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Component.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Dependency.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Development.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Ecosystem.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Framework.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Interface.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/License.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/ManagementSystem.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Messaging.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Monitoring.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Responsible.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Runtime.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Storage.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/lombok.config
Labels: enhancement, module: model

#35 Update dashboard to use Spring Boot 2.x
  bricks-dashboard/pom.xml
Labels: enhancement

#39 Dashboard properties can not be set through configuration file
  bricks-dashboard/src/main/java/com/github/ingogriebsch/bricks/dashboard/DashboardProperties.java
  bricks-dashboard/src/test/java/com/github/ingogriebsch/bricks/dashboard/DashboardPropertiesTest.java
Labels: bug, module: dashboard

#40 Highlight the currently selected tab in section 'Applications' - 'Application'
  bricks-dashboard/src/main/java/com/github/ingogriebsch/bricks/dashboard/web/ApplicationController.java
  bricks-dashboard/src/main/resources/templates/application/skeleton.ftl
  bricks-dashboard/src/test/java/com/github/ingogriebsch/bricks/dashboard/web/ApplicationControllerTest.java
Labels: enhancement, module: dashboard

#41 Highlight the currently selected tab in section 'Applications' - 'Application' - 'Components' - 'Component'
  bricks-dashboard/src/main/java/com/github/ingogriebsch/bricks/dashboard/web/ComponentController.java
  bricks-dashboard/src/main/resources/templates/component/skeleton.ftl
  bricks-dashboard/src/test/java/com/github/ingogriebsch/bricks/dashboard/web/ComponentControllerTest.java
Labels: enhancement, module: dashboard

#42 Use ApplicationReaderFactory in ApplicationCollector
  bricks-assemble/src/main/java/com/github/ingogriebsch/bricks/assemble/collector/ApplicationCollector.java
  bricks-assemble/src/test/java/com/github/ingogriebsch/bricks/assemble/collector/ApplicationCollectorTest.java
  bricks-assemble/src/test/java/com/github/ingogriebsch/bricks/assemble/reader/common/StaticApplicationReaderFactoryTest.java
  bricks-dashboard/src/main/java/com/github/ingogriebsch/bricks/dashboard/ServiceConfiguration.java
Labels: enhancement, module: assemble

#43 Use ComponentReaderFactory in ComponentCollector
  bricks-assemble/src/main/java/com/github/ingogriebsch/bricks/assemble/collector/ComponentCollector.java
  bricks-assemble/src/test/java/com/github/ingogriebsch/bricks/assemble/collector/ComponentCollectorTest.java
  bricks-assemble/src/test/java/com/github/ingogriebsch/bricks/assemble/reader/common/StaticComponentReaderFactoryTest.java
  bricks-dashboard/src/main/java/com/github/ingogriebsch/bricks/dashboard/ServiceConfiguration.java
Labels: enhancement, module: assemble

#44 Introduce module 'visualize' to allow the implementation of specific visualizer's
  bricks-visualize/pom.xml
  bricks-visualize/src/test/resources/logback-test.xml
  pom.xml
Labels: enhancement, module: visualize

#45 Implement yaml based ApplicationIdCollector to avoid hard coded configuration of ids
  bricks-assemble/src/main/java/com/github/ingogriebsch/bricks/assemble/collector/yaml/ResourceLoader.java
  bricks-assemble/src/main/java/com/github/ingogriebsch/bricks/assemble/collector/yaml/YamlExtractingApplicationIdCollector.java
  bricks-assemble/src/test/java/com/github/ingogriebsch/bricks/assemble/collector/yaml/YamlExtractingApplicationIdCollectorTest.java
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/application_as_leaf_of_one_tree.yaml
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/application_on_root_level.yaml
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/applications_as_leafs_of_one_tree.yaml
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/applications_as_leafs_of_several_trees.yaml
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/applications_on_root_level.yaml
Labels: enhancement, module: assemble

#49 Implement yaml based ComponentIdCollector to avoid hard coded configuration of ids
  bricks-assemble/src/main/java/com/github/ingogriebsch/bricks/assemble/collector/yaml/ApplicationIdOrigin.java
  bricks-assemble/src/main/java/com/github/ingogriebsch/bricks/assemble/collector/yaml/ComponentIdOrigin.java
  bricks-assemble/src/main/java/com/github/ingogriebsch/bricks/assemble/collector/yaml/YamlExtractingComponentIdCollector.java
  bricks-assemble/src/main/java/com/github/ingogriebsch/bricks/assemble/collector/yaml/YamlResourceLoader.java
  bricks-assemble/src/test/java/com/github/ingogriebsch/bricks/assemble/collector/yaml/YamlExtractingComponentIdCollectorTest.java
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/component_as_leaf_of_one_tree.yaml
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/component_on_root_level.yaml
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/components_as_leafs_of_one_tree.yaml
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/components_as_leafs_of_several_trees.yaml
  bricks-assemble/src/test/resources/com/github/ingogriebsch/bricks/assemble/collector/yaml/components_on_root_level.yaml
Labels: enhancement, module: assemble

#50 Rework property 'Layer' to own class
  bricks-assemble/src/test/java/com/github/ingogriebsch/bricks/assemble/converter/json/Json2ComponentConverterTest.java
  bricks-assemble/src/test/java/com/github/ingogriebsch/bricks/assemble/converter/yaml/Yaml2ComponentConverterTest.java
  bricks-example/bricks-example-custom-analyzers/src/main/java/com/github/ingogriebsch/bricks/example/custom/analyzers/MyCustomAnalyzer.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Component.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Layer.java
Labels: enhancement, module: model

#51 Rework property 'Category' to own class
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Category.java
  bricks-model/src/main/java/com/github/ingogriebsch/bricks/model/Component.java
Labels: enhancement, module: model

#55 Enhance README to explain the overall idea
  README.md
Labels: documentation, enhancement

#58 Enhance README to explain the different modules
  README.md
  pom.xml
Labels: documentation, enhancement

#65 Introduce module 'analyze' to allow the analysis of the model
  bricks-analyze/pom.xml
  bricks-analyze/src/main/java/com/github/ingogriebsch/bricks/analyze/ComponentCountAnalyzer.java
  bricks-analyze/src/test/java/com/github/ingogriebsch/bricks/analyze/ComponentCountAnalyzerTest.java
  bricks-analyze/src/test/resources/logback-test.xml
  pom.xml
Labels: enhancement, module: analyze
